<!DOCTYPE html>
<html>
<head>
  <title>Todolist</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body id="<%= params[:controller].parameterize %>" class="<%= params[:action].parameterize %>">

  <!-- PRACTICE, looping through the flash hash -->
  <% flash.each do |key, msg| %>
    <%= content_tag :div, msg, :id => key %>
  <% end %>

  <%= yield %>
</body>
</html>
